@import url('https://fonts.googleapis.com/css2?family=Playwrite+IE:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    font-family: serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}
body{
    background-color: whitesmoke;
}
header{
    border: 1px solid white;
    color: white;
    background-color: black;
    height: auto;
    width: 100%;
}