@import url('https://fonts.googleapis.com/css2?family=Playwrite+IE:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}
body{
    background-color: whitesmoke;
}
header{
    border: 1px solid white;
    color: white;
    background-color: black;
    height: auto;
    width: 100%;
}
#principal{
    position: relative;
} 

#principal img{
    height: auto;
    width: 100%;
    padding: 1px;
    display: block;
}


#contenido-principal{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    text-align: center;
}
button {
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
}
h1, b, span{
    text-align: center;
    font-family: Helvetica, sans-serif sans-serif;
    padding: 6px 2px;
}
.navbar{
    border: 1px solid gray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar #logo img{
    width: 125px;
    height: 125px;
    padding: 15px;
    border-radius: 100%;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    padding: 0 15px;
    font-size: 40px;
}
.navbar ul li a{
   color: white;
   text-decoration: none;
   position: relative;
   font-family: Helvetica, sans-serif;
}
.navbar ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #FFDAB3;
    transition: width 0.3s ease-in-out;
}
.navbar ul li a:hover::after{
width: 100%;
}

#reserva {
    background-color: #6f4e37; 
    color: white;
    border: none;
    transition: all 0.3s ease;
}

#reserva:hover {
    background-color: #5a3d2b; 
    color: #fff;
    transform: scale(1.05);
}

#restaurante, #comida{
    display: flex;
background: #775A5A;
    color: white;
    border: 1px solid black;
}
p{
    padding: 10px;
    text-align: justify;
}

#restaurante img, #comida img{
    height: auto;
    width: 50%;
}
#horarios{
background: #775A5A;
color: white;
}


#mapa iframe{
    height: 400px;
    width: 100%;
}

#restaurante button, #comida button{
    display: block;
}

#contenido-restaurante{
    padding: 6%;
    text-align: justify;
    
}

#comida{
flex-direction: row-reverse;
}
#contenido-comida{
    padding: 6%;
    text-align: justify;

}
#horarios{
    position: relative;
    border: 1px solid black;
}
#horarios img{
    width: 100%;
    display: block;
    padding: 1px;
}
#contenido-horarios{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 80px;
    border-radius: 5px;
}
